[token-modal] {
  gap: 10%;
}

[token-modal] > form {
  height: 85%;
  margin: 0;
}

.token-modal-list-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  border-left: 1px solid #546e7a;
}

.token-in-use-container h4 {
  margin-bottom: 10px;
}

.token-in-use-container table tr td {
  padding: 0 10px;
  font-size: 1rem;
}

.token-in-use-container table tr td:first-child {
  text-align: right;
  font-weight: bold;
}

.token-in-use-container button {
  padding: 8px;
  width: fit-content;
  font-size: 1rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.token-modal-list-container ul {
  padding: 0;
  overflow-y: auto;
}

.token-modal-list-container li {
  background-color: var(--secondary);
  list-style: none;
  margin: 0;
  width: fit-content;
  padding: 10px 24px;
  font-size: 1rem;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background 200ms ease-in-out;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.token-modal-list-container li:hover {
  background-color: var(--secondary-hover);
}

.token-modal-list-container li:not(:last-child) {
  margin-bottom: 16px;
}

.token-modal-list-container li .delete-token-btn {
  margin-left: 16px;
}
